	
body, html {
    height: 100%;
    margin: 0;
}



.topnav {
  
  overflow: hidden;
  background-color: #333;
  width : 100%;
  position: fixed;
  opacity : 0.8;
}

.topnav a {
	
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: justify;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  
  
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.hero-image {
  background-image: url("images/IMG_8675.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: #4CAF50;
}



a.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 15px 30px;
  color: #4CAF50;
  
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-decoration: none;
  color:#4CAF50; 
}
a.button:hover {
  background-color: #555;
  color: white;
}

.abouthero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: #4CAF50;
}

.bloghero-image {
  background-image: url("images/IMG_8708.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contacthero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4CAF50;
}
.blogshero-text {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: #4CAF50;
}

.social_media a :hover{
	opacity: 0.5;
    filter: alpha(opacity=50);
}


footer {
    padding: 5px;
    color: #4CAF50;
    background-color: black;
    clear: left;
    text-align: center;
}


